* {
    --orange-strong:#ff6a00;
    --orange-fade  :#ffe0c4;
    --code-bg      :#e5e5e5;
}

body{
    background-color: white;
    color:black;
    margin:0;
    padding:0px 10px;
    font-size: 125% !important;
}

h1{
    text-align: center;
    padding:5vh 0;
}


.wrapper{
    border:2px var(--code-bg) solid;
    border-radius: 0.3em;
    margin: auto !important;
    padding:0 15px;
}

.wrapper-header{
    background: var(--code-bg);
    width: calc(100%+30px);
    margin:0 -15px;
}

.code {
    background-color: var(--code-bg);
    border-radius: 0.2em;
    padding: 0.2em;
}

span.detail{
    text-decoration: bold;
    color:var(--orange-strong);
}

.detail_mimic{
    text-decoration: bold;
    color:var(--orange-strong);
}

.col_orange{
    color: var(--orange-strong);
}

.bg_orange{
    background-color: var(--orange-fade);
}

.bg_orange_strong{
    background-color: var(--orange-strong);
}

